* {
  font-family: sans-serif;
}
body {
  background-color: #f1f1f3;
}
/*background: #d5def5; */

/* background: #8594e4; */

/* background: #6643b5; */

/* background: #430f58; */
/*--- Add New Button ---*/

@media (min-width: 600px) {
  body {
    width: 100%;
    display: flex;
  }
  .app {
    max-width: 700px;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}

#addNew {
  display: flex;
  background-color: #8594e4;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.fa-plus {
  background-color: #d5def5;
  padding: 3px;
  border-radius: 3px;
}

/*--- MODAL ---*/
#modal {
  display: none; /*Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/*------ Modal Content/Box ------*/

.modal-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
#xModal {
  cursor: pointer;
  justify-self: end;
  grid-column-start: 2;
  font-size: 28px;
}
.modal-header {
  grid-column-start: 1;
  grid-row-start: 1;
}
.modal-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-footer {
  grid-column-start: 2;
  grid-row-start: 3;
  justify-self: end;
  align-self: center;
}

#modal-newTaskAddBTN {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #8594e4;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}

#modal-close {
  cursor: pointer;
  padding: 5px 15px;
  background-color: #8594e4;
  border-radius: 5px;
  font-weight: 600;
  color: white;
}
/* .close {
  top: 0;
  float: right;
  font-size: 28px;
} */
/*--- Tasks section ---*/
#tasks {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1rem;
}

/*--- Task item ---*/
#tasks div {
  background-color: #8594e4;
  border: 3px solid #6643b5;
  padding: 5px 0px;
  border-radius: 5px;
}

.task-name {
  display: block;
  padding: 5px;
}
.task-date {
  color: #d5def5;
  padding: 5px;
}

.task-description {
  padding: 5px;
}
.options {
  display: flex;
  justify-content: end;
}

.options i {
  margin: 0px 0.5rem;
}
